/* ヘッダー */
.header {
  grid-area: header;
  background-color: #2196f3;
  color: white;
  display: grid;
  grid-template-areas: '. title navigation';
  grid-template-columns: 1fr auto 1fr;
}

/* スペーサー */
.spacer {
  flex-grow: 1;
}

/* タイトル */
.title {
  grid-area: title;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5px;
  flex-grow: 1;
  margin-right: 80px;
}

/* ナビゲーションセクション */
.navitagionSection {
  grid-area: navigation;
  display: flex;
  justify-self: end;
}

/* ナビゲーションリスト */
.navigationList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 5px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ナビゲーションアイテム */
.navigationItem {
  display: inline-block;
}

.navigationButton {
  color: white;
}
