/* 余白の白い部分を削除 */
.container {
  display: grid;
  grid-template-areas:
    'header-contacts header-contacts'
    'main-contacts contacts-filter';
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  grid-area: header-contacts;
  background-color: #2196f3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactsManagement {
  display: grid;
  grid-template-areas:
    'searchContacts searchContacts newContactButton'
    'contactsImportExport contactsImportExport empty';
  grid-template-columns: 1fr 1fr auto;
  row-gap: 10px;
  width: 60%;
}

.searchContacts {
  grid-area: searchContacts;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 110%;
}

.newContactButton {
  grid-area: newContactButton;
  align-content: left;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* アイコンの位置を変更 */
.iconButton {
  padding: 5px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100px; /* アイコンのサイズを変更 */
  height: 100px; /* アイコンのサイズを変更 */
}
/* アイコンのサイズを変更 */
.addContactIcon {
  color: white;
  font-size: 80px !important;
}

.contactsImportExport {
  grid-area: contactsImportExport;
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.contactListController {
  display: flex;
  column-gap: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}

/* 削除ボタン */
.deleteButton {
  color: white;
  background-color: red;
}

/* 全選択ボタン */
.selectAllButton {
  color: black;
  background-color: antiquewhite;
}

/* 全選択解除ボタン */
.deselectAllButton {
  color: black;
  background-color: antiquewhite;
}

/* CSVボタン */
.csvButton {
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* メインコンテンツの余白を削除 */
.contactsContainer {
  grid-area: main-contacts;
  overflow-y: auto; /* 縦スクロールバーを表示 */
  overflow-x: hidden; /* 横スクロールバーを非表示 */
}

/* アルファベットバー */
.alphabetContainer {
  grid-area: contacts-filter;
  overflow-y: auto; /* 縦スクロールバーを表示 */
  overflow-x: hidden; /* 横スクロールバーを非表示 */
}

/* アルファベットボタン */
.errorAlert {
  position: absolute; /* 絶対位置指定 */
  top: -100px; /* 画面外に配置 */
  left: 0; /* 左端に配置 */
  width: 100vw; /* 画面幅いっぱいに */
  z-index: 100; /* 最前面に表示 */
  background-color: rgba(246, 139, 131, 0.8); /* 背景色 */
  opacity: 0.5; /* 透明度 */
  transition: top 0.5s ease, opacity 0.5s ease; /* トランジション */
}

/* エラーメッセージ */
.errorAlert.show {
  top: 0; /* 画面上部に移動 */
  opacity: 1; /* 不透明にする */
}
