/* 余白の白い部分を削除 */
.container {
  display: grid;
  grid-template-areas:
    'header header'
    'main filter';
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  grid-area: header;
  background-color: #2196f3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* タイトル */
.title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 8px;
}

/* CSVボタン */
.csvNutton {
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* ナビバー全体(fullHD 1920×1080対応) */
.navbar {
  display: grid;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  gap: 20px;
}

/* セレクトボックスの為のボタンの位置 */
.selectRightButton {
  position: absolute;
  right: 40px;
}

/* 全選択ボタン */
.selectAllButton {
  color: black;
}

/* 全選択解除ボタン */
.deselectAllButton {
  color: black;
}

/* 左側のボタンコンテナ */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px; /* ボタンの間隔 */
}

/* 右側の空のスペース (バランス用) */
.navbar-right {
  flex-grow: 1;
}

/* 削除ボタン */
.deleteButton {
  min-width: 150px;
  margin-left: 20px; /* 左側に余白を追加 */
  padding: 20px 20px;
}

/* 新規作成ボタン */
.iconButton {
  min-width: 130px;
  color: white;
}

/* iconのサイズを変更 */
.icon {
  font-size: 50px !important;
}
/* メインコンテンツの余白を削除 */
.contactsContainer {
  grid-area: main;
  overflow-y: auto; /* 縦スクロールバーを表示 */
  overflow-x: hidden; /* 横スクロールバーを非表示 */
}

/* アルファベットバー */
.alphabetContainer {
  grid-area: filter;
  overflow-y: auto; /* 縦スクロールバーを表示 */
  overflow-x: hidden; /* 横スクロールバーを非表示 */
}
