/* アルファベットバーのコンテナ */
.alphabetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

/* アルファベットボタン */
.alphabetButton {
  cursor: pointer;
  padding: 4px;
}

/* アルファベットボタンのホバー時 */
.alphabetButton:hover {
  font-weight: bold;
  color: #f50057;
}
