.searchBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.searchBar {
  width: 60%; /* 検索バーの幅を調整 */
  max-width: 800px; /* 最大幅を設定 */
  background-color: white;
  border-radius: 8px;
  padding: 12px; /* 内側の余白を増やして高さを拡大 */
  height: 50px; /* 高さを明示的に指定 */
  font-size: 1.2rem; /* 文字を少し大きくする */
}
