/* 検索バーのコンテナ（中央配置） */
.searchBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

/* 検索バーのスタイル */
.searchBar {
  width: 80%;
  max-width: 1000px;
  background-color: white;
  padding: 8px;
  height: 40px;
  font-size: 1rem;
}
